**/*.suo
**/**/*.suo
**/*.user
**/**/*.user

#bin
#obj
_ReSharper*
*.dotCover

*.csproj.user
*.resharper.user
*.ReSharper.user
*.cache
*~
*.swp
*.bak
*.orig
*.user

log4net.config
appSettings.config
connectionStrings.config

NuGet.exe
packages

AppPackages/
build/*
#TestResults/